.v-btn {
    text-transform: none !important;
}

.v-table .v-table__wrapper > table > thead > tr > th,
.v-table .v-table__wrapper > table > tbody > tr > td {
    border-bottom: 5px solid #fff !important;
}

.v-theme--dark.v-table.projects-data-table .v-table__wrapper > table > thead > tr > th {
    background-color: #4D4D4D;
}

.v-theme--dark.v-table.projects-data-table .v-table__wrapper > table > tbody > tr > td {
    background-color: #666666;
}

.v-table.campaigns-data-table .v-table__wrapper > table > thead > tr > th {
    background-color: #BBBBBB !important;
}

.v-table.campaigns-data-table .v-table__wrapper > table > tbody > tr > td {
    background-color: #E6E6E6 !important;
}

.v-table.lineitem-data-table .v-table__wrapper > table > thead > tr > th {
    background-color: #E6E6E6 !important;
}

.v-table.lineitem-data-table .v-table__wrapper > table > tbody > tr > td {
    background-color: #ffffff !important;
}

/*.v-table .v-table__wrapper > table > thead > tr > th:last-child,*/
.v-table .v-table__wrapper > table > tbody > tr > td:last-child {
    position: relative;
    box-shadow: -6px 0px 8px -4px rgba(0, 0, 0, 0.33);
    overflow: visible;
    z-index: 1;
}

.v-table .v-table__wrapper > table > thead > tr > th:last-child,
.v-table .v-table__wrapper > table > tbody > tr > td:last-child {
    padding-right: 8px;
    padding-left: 12px;
    width: 102px;
    max-width: 102px;
}

.name-link {
    text-decoration: none;
    font-weight: 500;
}

.name-link:hover {
    text-decoration: underline;
}


.v-table .name-link {
    color: rgba(0, 0, 0, 0.87);
}

.v-table .name-link {
    color: #000;
}

.v-table.v-theme--dark .name-link {
    color: #fff;
}

.v-table.v-theme--dark .name-link {
    color: #E0E0E0;
}