.v-btn {
    text-transform: none !important;
}

/* Gemeinsame Border-Regel */
.v-table .v-table__wrapper > table > thead > tr > th,
.v-table .v-table__wrapper > table > tbody > tr > td {
    border-bottom: 5px solid #fff !important;
}

/* --- Project --- */
.v-theme--dark.v-table.projects-data-table .v-table__wrapper > table > thead > tr > th {
    background-color: #4D4D4D;
}

.v-theme--dark.v-table.projects-data-table .v-table__wrapper > table > tbody > tr > td {
    background-color: #666666;
}

/* --- Campaign --- */
.v-table.campaigns-data-table .v-table__wrapper > table > thead > tr > th {
    background-color: #666666 !important;
    color: #fff;
}

.v-table.campaigns-data-table .v-table__wrapper > table > tbody > tr > td {
    background-color: #E6E6E6 !important;
}

/* --- Lineitem --- */
.v-table.lineitem-data-table .v-table__wrapper > table > thead > tr > th {
    background-color: #E6E6E6 !important;
}

.v-table.lineitem-data-table .v-table__wrapper > table > tbody > tr > td {
    background-color: #ffffff !important;
}